/*----------------------------------------------------------*/
/* base */
/*----------------------------------------------------------*/
body {
    color: black;
    font-size: 16px;
    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
}
  
/*----------------------------------------------------------*/
/* container */
/*----------------------------------------------------------*/
.container {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

/*----------------------------------------------------------*/
/* header */
/*----------------------------------------------------------*/
.header {
    position: fixed;
    background-color: white;
}

.header__logo {
    width: 150px;
    height: 70px;
    margin-left: 20px;
}

.header-list {
    background-color: rgb(137,137,137);
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 13px;
    display: flex;
}

.header-list__item {
    color: white;
    margin-right: 30px;
    margin-left: 20px;
    font-size: 14px;
}

/*----------------------------------------------------------*/
/* main */
/*----------------------------------------------------------*/
.main{
    padding-top: 150px;
}

.main__img {
    width: 300px;
    height: 180px;
    margin-bottom: 20px;
}

.main-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-card {
    margin-left: 20px;
    margin-bottom: 30px;
}

.main__text {
    font-weight: bold;
}

.main__a{
    font-weight: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 14px;
    text-decoration: underline;
}

/*----------------------------------------------------------*/
/* 左側 */
/*----------------------------------------------------------*/
.s-left {
    float: left;
    width: 65%;
}

.s-left__inner {
    margin-left: 13px;
    margin-top: 70px;
}

.title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 15px;
}

.s-left__img {
    width: 650px;
    height: 370px;
    margin-top: 10px;
}

.s-left__text {
    margin: 20px 40px 30px;
}

/*----------------------------------------------------------*/
/* 右側 */
/*----------------------------------------------------------*/
.s-right {
    float: right;
    width: 35%;
}

.s-right__inner {
    margin-right: 40px;
    margin-top: 70px;
    margin-left: 40px;
}
/* 名前*/
.s-right__icon {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 70px;
}

.name {
    font-weight: bold;
    margin: 20px 110px;
}

/* Ranking */
.s-right__text {
    margin-top: 10px;
}

.s-right__img {
    margin-top: 30px;
}

/* Archive */
.s-right__list{
    margin-bottom: 100px;
}

.s-right__items {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

.s-right__item {
    border-bottom: 1px solid black;
    padding: 20px;
}

/*----------------------------------------------------------*/
/* footer */
/*----------------------------------------------------------*/
.footer {
    width: 100%;
    clear: both;
    background-color: rgb(246,246,246);
}

.footer-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-card {
    width: calc((100% - 40px) / 3);
}

.name-left {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin: 30px 10px;
}

/* about */
.footer__text {
    margin-left: 10px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
}

.footer-link {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* menu */
.footer-list {
    margin-left: 10px;
}

.footer-list__items {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer-list__item {
    border-bottom: 1px solid black;
}

.footer-link {
    margin: 20px;
}

/* twitter */
.twitter {
    margin-left: 10px;
}